
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

:root{
    --primaryColor:rgb(230, 83, 60);
    --largeText:rgb(255, 255, 255);
    --smallText:rgba(255, 255, 255, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(17, 17, 17);
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

/* common Shared style */
.primary-btn{
    padding: 14px 36px;
    background-color: var(--primaryColor);
    border-radius: 37px;
    font-size: 16px;
    font-weight: 600;
    color: var(--largeText);
    border: none;
}
.section-title{
    font-size: 42px;
    font-weight: 900;
    color: var(--largeText);
    margin-bottom: 14px;
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: var(--smallText);
}

/* Header Section Style */
header{
    /* max-width: 954px; */
    max-width: 1169px;
    /* border: 1px solid green; */
    margin: auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    /* border: 1px solid red; */
}
.header-title{
    font-size: 32px;
    font-weight: 800;
    color: var(--primaryColor);
}
.nav-items{
    display: flex;
    align-items: center;
   gap: 30px;
}
.nav-items a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--largeText);
}
.select-default{
    background-color: var(--primaryColor);
    padding: 8px 20px;
    border-radius: 34px;
}
.menu-bars{
    color: var(--largeText);
    font-size: 24px;
    display: none;
}

main{
    max-width: 1169px;
    margin: auto;
}
/* Banner Section Starts here */
.banner-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      /* border: 1px solid sandybrown; */
}
.banner-text-content{
    width: 45%;
    margin: auto;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.banner-title{
    font-size: 70px;
    font-weight: 900;
    color: var(--largeText);
    line-height: 80px;
}

#banner-inner-text{
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-size: 100px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--smallText);
}

.btn-download{
    background: rgb(17, 17, 17);
    padding: 14px 36px;
    border-radius: 37px;
    font-size: 16px;
    font-weight: 600;
    color: var(--largeText);
    border: 1px solid rgb(255, 255, 255);
    margin-left: 14px;
}
.banner-img-content{
    width: 48%;
    display: flex;
    justify-content: end;
    /* border: 1px solid tomato; */
    position: relative;
}
.banner-img-content img{
    object-fit: cover;
}
.workout-videos{
    width: 160px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    top:150px;
    right: -50px;

}

.workout-videos-2{
    width: 160px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    display:flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    left:150px;
    bottom: 100px;

}
.banner-img-box-1{
    color: var(--largeText);
    font-size: 26px;
    font-weight: 900;
    
}
.banner-img-box-3{
    color: var(--largeText);
    font-size: 24px;
    font-weight: 900;
    display: block;
    
}
.banner-img-box-2{
    font-size: 14px;
    font-weight: 400;
    color: var(--smallText);

}
.play-btn{
    font-size: 28px;
    color: var(--primaryColor);
    margin-right: 10px;
}

/* Change Your Habits section */
.change-habit-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.change-habit-text-content{
    width: 50%;
    margin: auto;
    text-align: center;
}

.change-habit-img-container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.img-box img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-box .img-title{
    font-size: 16px;
    font-weight: 900;
    color: var(--largeText);
    text-align: center;
    margin-top: 30px;
}

.img-box .img-description{
    font-size: 14px;
    font-weight: 400;
    color: var(--smallText);
    text-align: center;
    margin-top: 6px;
}

/* Run Extra Mile Section */
.run-extra-mile-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 34, 34);
    margin-bottom: 100px;
    border-radius: 18px;
}

.run-extra-text-content{
    width: 30%;
    margin: 30px 0 30px 30px;
}

.run-extra-img-content{
    width: 30%;
    margin: 20px 30px;
}
.run-extra-img-content img{
    width: 100%;
    border-radius: 18px;
}

.run-extra-mile-btn-content{
    margin-top: 20px;
}


/* Training and Exercises */

.Exercise-section>p{
    width: 50%;
}
.training-img-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: white;
  margin-top: 50px;
}

.training-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill-opacity: var(--primaryColor);
    
}

.training-img-box-1{
    grid-column: 1/span 3;
    position: relative;
}
.training-img-box-1>div{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(6, 255, 210, 0.3);
    color: black;
    top:0;
    left: 0;
    opacity: 0.5;
}
.training-img-box-1>div>p{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.training-img-box-2{
    grid-column: 4/span 6;
    position: relative;
}
.training-img-box-2>div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 0, 0,0.3);
    /* opacity: 0.6; */
}
.training-img-box-2>div>p{
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
}
.training-img-box-3{
    grid-column: 10/span 3;
    position: relative;
}
.training-img-box-3>div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.3);
   
}
.training-img-box-3>div>p{
    color:rgb(255, 255, 247);
    position: absolute;
    bottom: 20px;
    left: 20px;
   width: 60%;
   
}
.training-img-box-4{
    grid-column: 1/span 5;
    position: relative;
}
.training-img-box-4>div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.3);
    
}
.training-img-box-4>div>p{
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40%;
}
.training-img-box-5{
    grid-column: 6/span 3;
    position: relative;
}
.training-img-box-5>div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(66,255,0,0.3);
}
.training-img-box-5>div>p{
    color:white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60%;
}

.training-img-box-6{
    grid-column: 9/span 4;
    position: relative;
}
.training-img-box-6>div{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0,71,255,0.3);
}
.training-img-box-6>div>p{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60%;
}

